{% extends "app/base.html" %}

{% block head %}
    <script src="/static/browser/user_packs.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4>Твои паки</h4>
                <button class="btn btn-primary" onclick="createPack()">Создать пак</button>
                <div id="packsList" class="list-group mt-3" style="max-height: 60vh; overflow:scroll;" role="tablist">
                    {% for pack in packs %}
                        <div data-toggle="list" class="list-group-item list-group-item-action" role="tab"
                             onclick="viewPack('{{ pack['id'] }}');">{{ pack['name'] }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-6" style="display: none" id="packColumn">
                <h4 id="packName" class="row"></h4>
                <div class="row mt-2">
                    <a class="btn btn-primary col" id="createGameButton">Создать игру</a>
                    <a class="btn btn-warning col ms-3" id="editPackButton">Редактировать</a>
                </div>
                <h5 class="row mt-2">Темы</h5>
                <div id="topicsList" class="list-group mt-2 row" style="max-height: 60vh; overflow:scroll;" role="tablist">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
