.card-img-top {
    width: 100%;
    height: 8vw;
    object-fit: cover;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.sui-button-cell {
    text-align: center;
}

.sui-checkbox {
    font-size: 17px !important;
    padding-bottom: 4px !important;
}

.deleteButton img {
    margin-right: 3px;
    vertical-align: bottom;
}

.bigicon {
    color: #5CB85C;
    font-size: 20px;
}
