.card-img-top {
    width: 100%;
    height: 8vw;
    object-fit: cover;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.sui-button-cell {
    text-align: center;
}

.sui-checkbox {
    font-size: 17px !important;
    padding-bottom: 4px !important;
}

.deleteButton img {
    margin-right: 3px;
    vertical-align: bottom;
}

.bigicon {
    color: #5CB85C;
    font-size: 20px;
}

.question {
    height: 70px;
}

.max-width-100 {
    max-width: 100%;
}

.show-on-hover-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.hide-button {
    display: none;
}

.button-with-image-overlay:hover > .dim-image {
    opacity: 0.3;
}

.button-with-image-overlay:hover > .hide-button {
    display: block;
}

.edit-button {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("/static/images/edit_icon.png") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
}

.edit-button:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
}

.edit-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    opacity: 1;
}

.edit-button:disabled, .edit-button.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: 0.25;
}

.video-editor-id-row {
    height: 70px;
}
