{% extends "app/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/vendors/dropzone/dropzone.css"/>
    <script type="application/javascript" src="/static/vendors/dropzone/dropzone.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col">
            <a id="packID" style="display: none">{{ pack_id }}</a>
            <h4 id="packName">{{ pack_name }}</h4>
            <div id="boards">
                <ul class="nav nav-pills mb-2" role="tablist" id="tabsHeader"></ul>
                <div class="tab-content" id="tabsContent"></div>
            </div>
        </div>
    </div>
    <script src="/static/vendors/socketio/socket.io.js"></script>
    <script type="application/javascript" src="/static/editor/editor.js"></script>
    <script type="application/javascript" src="/static/editor/video_editor.js"></script>
{% endblock %}
