{% extends "app/base.html" %}

{% block head %}
    <link rel="stylesheet"
          href="/static/vendors/dropzone/dropzone.min.css"/>

    <link rel="stylesheet"
          href="/static/vendors/dropzone/basic.css"/>

    <script type="application/javascript"
            src="/static/vendors/dropzone/dropzone.min.js">
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col">
            <h4 id="packID">Пак {{ pack_id }}</h4>
            <div id="boards">
                <ul class="nav nav-pills mb-2" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="routingProblemPill" data-toggle="pill" href="#rpTab" role="tab"
                           aria-controls="rpTab" aria-selected="true">Экран 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="routesPill" data-toggle="pill" href="#routesTab" role="tab"
                           aria-controls="routesTab" aria-selected="false">Экран 2</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="rpTab" role="tabpanel"
                         aria-labelledby="routingProblemPill">
                        <div class="card mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Экран 1</h5>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Тема 1</h5>
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <form>
                                                    <div class="row">
                                                        <a style="display: none">questionID</a>
                                                        <input type="text" class="form-control col"
                                                               placeholder="Вопрос">
                                                        <input type="text" class="form-control col"
                                                               placeholder="Ответ">
                                                        <input type="text" class="form-control col"
                                                               placeholder="видео">
                                                        <input type="text" class="form-control col"
                                                               placeholder="картинка">
                                                    </div>
                                                </form>
                                                <form method="POST" action='/editor/upload_image'
                                                      class="dropzone dz-clickable"
                                                      id="dropper" enctype="multipart/form-data">
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript"
            src="/static/editor/editor.js">
    </script>

{% endblock %}
