{% extends "app/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/vendors/dropzone/dropzone.css"/>
    <script type="application/javascript" src="/static/vendors/dropzone/dropzone.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col">
            <a id="packID" style="display: none">{{ pack_id }}</a>
            <a id="packHiddenName" style="display: none">{{ pack_name }}</a>
            <h4>Пак</h4>
            <form id="packName"></form>
            <div id="boards" class="mt-3">
                <div class="row">
                    <ul class="nav nav-pills mb-2 col-10" role="tablist" id="tabsHeader"></ul>
                    <button class="btn btn-primary col-2 h-75" onclick="addNewBoard({{ pack_id }})">Добавить раунд
                    </button>
                </div>
                <div class="tab-content" id="tabsContent"></div>
            </div>
        </div>
    </div>
    <script src="/static/vendors/socketio/socket.io.js"></script>
    <script type="application/javascript" src="/static/editor/editor.js"></script>
{% endblock %}
