{% extends "app/base.html" %}

{% block body %}
    <div class="container" style="height: 80vh">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-5">
                <div class="row justify-content-center ml-3">
                    <img src="{{ url_for('static', filename='resources/images/atlaroute.png') }}" style="height: 100px">
                    <h3>Hey!</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}