{% extends "app/base.html" %}

{% block head %}
    <script src="/static/app/vendors/socketio/socket.io.js"></script>
    <script src="/static/gameplay/gameplay.js"></script>
    <script src="/static/gameplay/shared.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4>Game</h4>
                <a style="display: none" id="gameID">{{ game_id }}</a>
                <a id="gameURL">{{ game_url }}</a>
                <button class="btn btn-primary ml-3" onclick="copyToClipboard('#gameURL')">Скопировать ссылку</button>
                <br>
                <a id="message"></a>
            </div>
        </div>
    </div>
{% endblock %}
